{

       "gwas_groups": 
	{
		"gwas-group1-lung-and-heart":
		{
			"files": [
				"/mydisk/data/lung_gwas/gwas*.gz",
				"./data/Coronary-Artery-Disease/gwas_*CAD*.gz"	
			],
			"gwas_cutoff_pvals": [5e-8, 1e-6],
			"gwas_windows": [1000000, 500000],
			"eqtl_targets":
			{
				"lung-tissue":
				{
					"cutoff_pvals": [1e-8],
					"windows": [1, 10000]
				},
				"heart-tissue":
				{
					"cutoff_pvals": [1e-5],
					"windows": [1, 10000]
				}
			}
		},
		"gwas-group2-heart-and-brain":
		{
			"files": [
				"/mydisk/data/brain_gwas/gwas_*.gz",
				"./data/new/Alzheimers.gz"	
			],
			"gwas_cutoff_pvals": [5e-8],
			"gwas_windows": [1000000],
			"eqtl_targets":
			{
				"heart-tissue":
				{
					"cutoff_pvals": [5e-8, 1e-6],
					"windows": [0]
				},
				"brain-tissue":
				{
					"cutoff_pvals": [5e-8, 1e-6],
					"windows": [0]
				}
			}
		}
	},
       "eqtl_groups": 
	{
		"lung-tissue":
		{
			"files": [
				"data/lung.eqtls.txt.gz"
			]
		},
		"heart-tissue":
		{
			"files": [
				"data/aorta.eqtls.txt.gz",
				"data/left-ventricle.eqtls.txt.gz",
				"data/right-atrium.eqtls.txt.gz"
			]
		},
		"brain-tissue":
		{
			"files": [
				"data/*brain.eqtls.txt.gz"
			]
		}
	},
	"output_directory": "/mydisk/myprojects/colocalization/output/",
	"output_base" : "my-complicated-example"
}


