{
       "gwas_groups": 
	{
		"gwas-lung-and-heart":
		{
			"files": [
				"/mydisk/data/heart_gwas/gwas*.gz"
			],
			"gwas_cutoff_pvals": [5e-8],
			"gwas_windows": [1000000],
			"eqtl_targets":
			{
				"lung-tissue":
				{
					"cutoff_pvals": [1e-5],
					"windows": [1, 10000]
				},
				"heart-tissue":
				{
					"cutoff_pvals": [1e-5],
					"windows": [1, 10000]
				}
			}
		}
	},
       	"eqtl_groups": 
	{
		"lung-tissue":
		{
			"files": [
				"data/lung.eqtls.txt.gz"
			]
		},
		"heart-tissue":
		{
			"files": [
				"data/aorta.eqtls.txt.gz",
				"data/left-ventricle.eqtls.txt.gz",
				"data/right-atrium.eqtls.txt.gz"
			]
		}
	},
	"output_directory": "/mydisk/myprojects/colocalization/output/",
	"output_base" : "my-simple-example"
}


