{
	"input_base_dir": "../download/download-output/",
	"output_base_dir": "munged/data-munged",
	"genome_build": ["hg38"],
	"studies":
	[
		{
			"study_info": "Type-2-Diabetes_Spracklen_2020",
			"traits":
			{
				"Type-2-Diabetes_Spracklen_2020": ["personal.broadinstitute.org/mvon/T2D_ALL_Primary.txt.gz"] 
			},
			"delimiter": "\t",
			"rsid_index": "-1",
			"chr_index": "3",
			"snp_pos_index": "4",
			"pvalue_index": "11",
			"effect_allele_index": "5",
			"non_effect_allele_index": "6",
			"direction_index": "9",
			"effect_index": "9",
			"se_index": "10"
		}
	]
}
